.toastify {
  padding-right: 45px;
  max-width: 350px;
  line-height: 1.5;

  a {
    word-break: break-all;
  }

  ol,
  ul {
    padding-left: 15px;
  }
}

.toast-close {
  position: absolute;
  opacity: 1;
  top: 12px;
  right: 10px;
}
